.syncjob-table-container {
    overflow-y: auto;
    height: 400px; /* Adjust as needed */
    margin-top: 20px;
    border: 1px solid #ccc;
}

.syncjob-table {
    width: 100%;
    border-collapse: collapse;
}

.syncjob-table th, .syncjob-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.syncjob-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.syncjob-table tbody tr:hover {
    background-color: #f1f1f1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
