@using WSyncPro.Models.Config

<div class="version-info-container">
    <table class="version-info-table">
        <tbody>
            <tr>
                <td>Core</td>
                <td>V @CompiledVersion.CORE_VERSION</td>
            </tr>
            <tr>
                <td>Util</td>
                <td>V @CompiledVersion.UTIL_VERSION</td>
            </tr>
            <tr>
                <td>App</td>
                <td>V @CompiledVersion.APP_VERSION</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>V @CompiledVersion.TEST_VERSION</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    // No need to instantiate CompiledVersion as it's just constants
}
