html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a, .btn-link {
    color: #006bb7;
}

.content {
    padding: 16px;
    margin: 0;
    max-width: 1200px;
    flex: 1;
    position: relative;
}

/* Sidebar */
.mud-drawer {
    background-color: #f5f5f5;
    width: 250px;
    position: fixed;
    top: 64px; /* Navbar height */
    bottom: 0;
}

.mud-drawer-content {
    margin-left: 250px; /* Sidebar width */
    padding: 16px;
}

/* Top Navbar */
.mud-appbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background-color: #1b6ec2 !important;
    color: #fff !important;
    height: 64px;
}

/* Adjust main content to avoid overlap */
.main-content {
    margin-left: 250px; /* Match sidebar width */
    margin-top: 64px; /* Match navbar height */
    padding: 16px;
}
