@page "/sync"
@using WSyncPro.Core.Services
@using WSyncPro.Models.Jobs
@inject IAppCache AppCache
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<h3>SyncHome</h3>
<MudPaper Class="pa-16 ma-2" Elevation="0">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenCreateDialog">Create Sync Job</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="OpenSyncRunnerDialog">Run Sync Jobs</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="OpenJobExecutionsDialog">Job Executions</MudButton>
</MudPaper>
<MudPaper Class="pa-16 ma-2">
    <SyncJobTable SyncJobs="@jobs" ReloadJobs="ReloadJobs" OnEditJob="OpenEditDialog" />
</MudPaper>




@code {
    private List<SyncJob> jobs = new List<SyncJob>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadJobs();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        bool update = await AppCache.CacheUpdated();
        if (firstRender || update)
        {
            await ReloadJobs();
            StateHasChanged();
        }
    }

    public async Task ReloadJobs()
    {
        try
        {
            jobs = await AppCache.GetAllSyncJobs();
        }
        catch (Exception e)
        {
            Snackbar.Add("Failed to get Jobs. e: " + e.Message, Severity.Warning);
        }
    }

    private async Task OpenCreateDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
        var dialog = await DialogService.ShowAsync<CreateSyncJobOverlay>("Create Sync Job", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await ReloadJobs();
            Snackbar.Add("Sync job created successfully!", Severity.Success);
        }
    }

    private async Task OpenEditDialog(SyncJob job)
    {
        var parameters = new DialogParameters<EditSyncJobOverlay> { { x => x.SyncJob, job } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
        var dialog = await DialogService.ShowAsync<EditSyncJobOverlay>("Edit Sync Job", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await ReloadJobs();
            Snackbar.Add("Sync job updated successfully!", Severity.Success);
        }
    }

    private async Task OpenSyncRunnerDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large };
        await DialogService.ShowAsync<SyncJobRunner>("Run Sync Jobs", options);
    }

    private async Task OpenJobExecutionsDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large };
        await DialogService.ShowAsync<JobExecutionList>("Job Executions", options);
    }
}
