@using Blazorise
@using Blazorise.Bootstrap5
@using Blazorise.Icons.FontAwesome

@inherits LayoutComponentBase

<CascadingBlazorize>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <Layout>
                @Body
            </Layout>
        </main>
    </div>
</CascadingBlazorize>
