/* directory-list-container
.directory-list-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
} */

/* directory-display-container 
.directory-display-container {
    width: 100%;
    position: relative;
}*/

/* file-display-container 
.file-display-container {
    position: relative;
    display: flex;
    flex-direction: column;
}*/
