name: Convert draw.io to images

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  convert-drawio:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install draw.io CLI
      run: npm install -g drawio

    - name: List .drawio files before conversion
      run: ls -la Docu/Drawings/*.drawio

    - name: Ensure images directory exists
      run: mkdir -p Docu/Drawings/images

    - name: Convert .drawio files to PNG
      run: |
        for file in Docu/Drawings/*.drawio; do
          if [ -f "$file" ]; then
            echo "Converting $file"
            filename=$(basename "$file" .drawio)
            drawio --export --output "Docu/Drawings/images/${filename}.png" "$file"
            echo "Output should be in Docu/Drawings/images/${filename}.png"
          else
            echo "No .drawio files found."
          fi
        done

    - name: List contents of images directory after conversion
      run: ls -la Docu/Drawings/images

    - name: Check if PNG files were generated
      run: |
        if ls Docu/Drawings/images/*.png 1> /dev/null 2>&1; then
          echo "PNG files generated."
        else
          echo "No PNG files generated."
          exit 1
        fi

    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add Docu/Drawings/images/*.png
        git commit -m 'Automated conversion of .drawio files to images'
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
