name: Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git Safe Directory
        run: git config --global --add safe.directory /github/workspace

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Install Dependencies
        working-directory: ./page/just-the-docs-main
        run: |
          gem install bundler:2.5.9
          bundle install

      - name: Install npm dependencies
        working-directory: ./page/just-the-docs-main
        run: npm install

      # New step: Copy vendor assets if needed
      - name: Copy vendor normalize.scss
        working-directory: ./page/just-the-docs-main
        run: |
          mkdir -p vendor/normalize.scss
          cp node_modules/normalize-scss/sass/normalize.scss vendor/normalize.scss/normalize.scss

      - name: Debug Vendor Files
        working-directory: ./page/just-the-docs-main
        run: ls -R ./_sass/vendor/OneLightJekyll

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build with Jekyll
        working-directory: ./page/just-the-docs-main
        run: bundle exec jekyll build --destination ./_site --trace

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

