name: Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git Safe Directory
        run: git config --global --add safe.directory /github/workspace

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1 # Ensure the Ruby version matches your local environment
          bundler-cache: true

      - name: Install Dependencies
        working-directory: ./page/just-the-docs-main
        run: |
          gem install bundler:2.4.13 # Optional: specify Bundler version if needed
          bundle install

      - name: Debug Vendor Files
        working-directory: ./page/just-the-docs-main
        run: ls -R ./_sass/vendor/OneLightJekyll

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install Dependencies Again (Before Build)
        working-directory: ./page/just-the-docs-main
        run: bundle install

      - name: Test
        run: ls ./page/just-the-docs-main --recursive

      - name: Build with Jekyll
        working-directory: ./page/just-the-docs-main
        run: bundle exec jekyll build --destination ./_site --trace

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
